# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating system files
.DS_Store
Thumbs.db

# Build directory
dist/
build/

# Coverage directory used by testing tools
coverage/

# Temporary files
tmp/
temp/

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity
